<div id="<%= dom_id job %>">
  <p>
    <strong>Job code:</strong>
    <%= job.job_code %>
  </p>

  <p>
    <strong>Job group:</strong>
    <%= job.job_group %>
  </p>

  <p>
    <strong>Job subgroup:</strong>
    <%= job.job_subgroup %>
  </p>

  <p>
    <strong>Job name:</strong>
    <%= job.job_name %>
  </p>

  <p>
    <strong>Job level:</strong>
    <%= job.job_level %>
  </p>

  <p>
    <strong>Technical:</strong>
    <%= job.technical %>
  </p>

</div>
