<footer class="footer fixed-bottom">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 centered"><h4 >Brand</h4>
            <p>Additional information about licenses</p>
        </div>
        <div class="col-1"></div>
        <div class="col-3"><h4>Important Links</h4>
            <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'About', home_about_path %></li>
                <li><%= link_to 'Login', root_path %></li>
            </ul>
        </div>
        
        <div class="col-3"><h4>Contact Us</h4>
            <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'About', home_about_path %></li>
                <li><%= link_to 'Login', root_path %></li>
            </ul>
        </div>
        
    </div>
</footer>