<footer class="footer">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">Insert Brand here</div>
        <div class="col-3"><span class="strong">Important Links</span>
            <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'About', home_about_path %></li>
                <li><%= link_to 'Login', root_path %></li>
            </ul>
        </div>
        <div class="col-3"><span class="strong">Contact Us</span>
            <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'About', home_about_path %></li>
                <li><%= link_to 'Login', root_path %></li>
            </ul>
        </div>
        <div class="col-1"></div>
    </div>
</footer>