<div id="<%= dom_id candidate %>" class="card">
  <h3 class="card-header centered"> Current Candidate</h3>
  <div class="card-body">
    <p>
      <strong>First name:</strong>
      <%= candidate.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= candidate.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= candidate.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= candidate.phone %>
    </p>

    <p>
      <strong>Job code:</strong>
      <%= candidate.job_code %>
    </p>
  </div>
  <div class="card-footer row centered" style="--bs-gutter-x: 0">
    <div class="col-4"><%= link_to "Edit this Candidate", edit_candidate_path(@candidate), class:"btn btn-primary"%></div>      
    <div class="col-4"><%= link_to "Back to Candidate List", candidates_path, class:"btn btn-secondary" %></div>
    <div class="col-4"><%= link_to "Destroy this Candidate", @candidate, method: :delete, class:"btn btn-danger" %></div>
  </div>
</div>
