<%= form_with(model: candidate) do |form| %>
  <% if candidate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
        <% candidate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <card class="card">
    <legend class="centered card-header"> Enter New Data Below</legend>

    <div class="card-body">
      <div>
        <%= form.label :first_name, style: "display: block, text-weight: bold", class:"form-label" %>
        <%= form.text_field :first_name, class:"form-control" %>
      </div>

      <br/>

      <div>
        <%= form.label :last_name, style: "display: block", class:"form-label" %>
        <%= form.text_field :last_name, class:"form-control" %>
      </div>

      <br/>

      <div>
        <%= form.label :email, style: "display: block", class:"form-label" %>
        <%= form.text_field :email, class:"form-control" %>
      </div>

      <br/>

      <div>
        <%= form.label :phone, style: "display: block", class:"form-label" %>
        <%= form.text_field :phone, class:"form-control" %>
      </div>

      <br/>

      <div>
        <%= form.label :job_code, style: "display: block", class:"form-label" %>
        <%= form.number_field :job_code, class:"form-control" %>
      </div>
    </div>
    <div class="card-footer centered">
      <%= form.submit 'Submit', :class => "btn btn-success" %>
      <%= link_to 'Return to Candidate List', candidates_path, class:"btn btn-primary" %>
    </div>
  </card>
<% end %>
