<p style="color: green"><%= notice %></p>

<h1 class="header">Candidates</h1>


<table id = "candidates" class="table table-striped table-bordered table-hover">
  <thead class="thead centered ">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Job Code</th>
      <th class="centered" colspan="3">Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.phone %></td>
        <td><%= candidate.job_code %></td>
        <td class="centered"><%= link_to 'Show', candidate %></td>
        <td class="centered"><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td class="centered"><%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
  


<%= link_to "New Candidate", new_candidate_path, class:"btn btn-secondary" %>
